@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: "Noto Sans";
	src: url(../fonts/NotoSans-Regular.ttf);
}
@font-face {
	font-family: Lora;
	src: url(../fonts/Lora-Italic-VariableFont_wght.ttf);
}




.wrapper {
	display: flex;
	min-width: 100vw;
	min-height: 100vh;
}
.menu {
	max-width: 310px;
	background: url(../img/bg_left.jpg);
}
.menu__wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.menu__logo {
	z-index: 1;
	position: relative;
	font-family: Georgia;
	font-size: 48px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 15.52px;
	text-align: left;
	text-transform: uppercase;
	border: 3px solid #c57c40;
	opacity: 0.65;
	padding: 17px 14px 21px 11px;
	margin: 30px 0 0 0;
}
.menu__logo a {
	color: #f4f4f4;
}
.menu__logo:after {
	content: "";
	bottom: -8px;
	left: 14px;
	position: absolute;
	width: 81px;
	height: 1.5px;
	background-color: #c57c40;
	opacity: 0.41;
}
.menu__logo:before {
	z-index: 2;
	background: url(../img/bg_left.jpg);
	content: 'декор центр';
	position: absolute;
	top: 46px;
	right: 29px;
	color: #f5f5f5;
	font-family: Georgia;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
	padding: 0 8px;
}
.menu__text{
	color: #aaa9a9;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;
	padding: 33px 0 0 38px;
}
.menu__main {
	margin-top: 182px;
}
.menu__main_list > li{
	padding-left: 38px;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 62px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(104, 100, 100, .48);
}
.menu__main_list > li > a {
	color: #f7f7f7;
}
.menu__list {
	padding: 128px 0 0 38px;
}
.menu__list_list > li > a{
	color: #bdbdbd;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	text-transform: capitalize;
	letter-spacing: normal;
	line-height: 32px;
}
.menu__contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	padding: 62px 0 47px 37px;
}
.menu__contact_number {
	font-style: normal;
	letter-spacing: normal;
	line-height: 18px;
}
.menu__contact_call a{
	text-transform: uppercase;
	color: #c57c40;
	font-size: 16px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 26px;
	border-bottom: dotted 1px #c57c40;
}





.main {
	position: relative;
}
.main__slider {
}
.main__img {
}
.main__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main__descr {
	position: absolute;
	top: 785px;
	left: 80px;
}
.main__descr_text {
	z-index: 500;
	position: relative;
	color: #f0f0f0;
	font-family: "Noto Sans";
	font-size: 36px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 56.64px;
	text-align: left;
	text-transform: uppercase;
	padding: 0 34px 16px 13px;
	background-color: rgba(57, 49, 43, .5);
}
.main__descr_text::after {
	position: absolute;
	z-index: 4;
	top: 31px;
	left: 31px;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(45, 38, 30, .2);
	opacity: 0.5;
}
.main__descr_text_title{
	font-family: "Noto Sans";
	font-size: 58px;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.main__descr_text_descr{
	font-family: "Noto Sans";
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.main__descr_src {
	width: 208px;
	margin-top: 8px;
	margin-left: 14px;
	background-color: #b36060;

}
.main__descr_wrapper {
	padding: 13px 0 11px 27px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
.main__descr_src_about{
	color: #fefefe;
	font-family: Lora;
	font-size: 18px;
	font-style: italic;
	letter-spacing: normal;
	line-height: 14.16px;
	text-align: left;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.main__descr_src_arrow{
}
.main__descr_src_arrow img {
	width: 100%;
}